.description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 0;
  margin: 120px auto 145px;
  max-width: 1160px;

  @include vp-1023 {
    margin: 100px 0 92px;
    padding: 0 21px;
    gap: 30px;
  }

  @include vp-767 {
    margin: 65px 0 85px;
    padding: 0;
    grid-template-columns: 1fr;
    gap: 43px;
  }
}

.description__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  @include vp-1023 {
    margin-top: -10px;
  }
}

.description h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: $color-text-black;
  margin: 0;
  margin-bottom: 27px;

  @include vp-1023 {
    font-size: 26px;
    line-height: 140%;
    max-width: 210px;
    margin-bottom: 17px;
  }

  @include vp-767 {
    max-width: none;
    font-size: 24px;
    margin-bottom: 18px;
    margin-right: 50px;
  }
}

.description p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $color-text-black;
  margin: 0;
}

.description img {
  width: 100%;
}
